body{
    overflow:auto;
}

.lirePost{
    background-color:lightgreen;
}

.divConference {
    background-color:white !important;
}

.divConference h4{
    position:absolute; 
    left:12%;
}
.divConference p{
    display:inline-block;
    margin-left:2%;
    width:35%;
    height:180px;
    padding-top:3%;
}

.divConference img{
    float:left;
    clear: both;
}

.oFlex{
    display:flex;
    width:100%;
    height:auto;
    justify-content: space-around;
}
.oPost{
    display:flex;
    align-items:center;
    flex-direction:column;
}

h1 {


    p {

        font-size: 1.3em;
        text-align: center;
        
    }
    

}

.session {

    color: blue;

}

.domaine {

    color: red;

}