$color_hover: rgb(117, 117, 117);
$color_focus: rgb(61, 61, 61);
$color_active: rgb(119, 119, 119);

$color_texte_grid: rgb(177, 177, 177);
$color_texte_grid_hover: rgb(83, 83, 83);
$cell_color: rgb(33, 180, 255);
$cell_color_2: rgb(0, 155, 233);